@import "tailwindcss/utilities";
body {
  padding: 0px;
  margin: 0px;
  min-width: 100%;
  font-family: sans-serif;
}
:root{
  --primary:#1890ff;
  --black:#000;
  --white:#fff;
  --spacer:1rem
}
h1{
  font-size: 3rem
}
h2{
  font-size: 2.5rem
}
h3{
  font-size: 2rem
}
h4{
  font-size: 1.5rem
}
h5{
  font-size: 1.2rem
}
h6{
  font-size: 1rem
}
/* size */
.mh-100{
  max-height: 100%
}
.h-100v{
  height: 100vh;
}
.mh-100v{
  max-height: 100vh
}
.min-h-100v{
  min-height: 100vh
}
.min-h-100{
  min-height: 100%;
}
.h-100{
  height: 100%;
}
.w-100{
  width: 100%;
}
/* space */
.px-15{
  padding-left: 15%;
  padding-right: 15%;
}
.p-3{
  padding: calc(var(--spacer))
}
.pt-5{
  padding: calc(var(--spacer)*1.5)
}
.px-3{
  padding-right:calc(var(--spacer));
  padding-left:calc(var(--spacer));
}
.py-3{
  padding-top:calc(var(--spacer));
  padding-bottom:calc(var(--spacer));
}
.pr-1{
  padding-right: calc(var(--spacer)*0.25);
}
.pr-2{
  padding-right: calc(var(--spacer)*0.5);
}
.my-3{
  margin-top: calc(var(--spacer)*1);
  margin-bottom: calc(var(--spacer)*1);
}
.mt-3{
  margin-top: calc(var(--spacer)*1);
}
.mb-3{
  margin-bottom: calc(var(--spacer)*1);
}
.mr-3{
  margin-right: calc(var(--spacer)*1);
}

.flex-full-height-box{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  overflow: hidden;
}
.flex-full-height-box > .flex-scroll-box{
  flex:1 1 100%;
  overflow: auto;
}
.flex-full-height-box > .flex-hidden-box{
  flex:1 1 100%;
  overflow: hidden;
}
.flex-full-height-box > .flex-sticky-box{
  flex:0 0 auto;
  overflow: hidden;
}
.full-height-box-s{
  max-height: 100%;
  overflow: auto;
}
.full-height-box-h{
  max-height: 100%;
  overflow: hidden;
}
/*display flex*/
.flex{
  display: flex;
}
.flex-1-1{
  flex:1 1 100%
}
.flex-0-0{
  flex:0 0
}
.flex-column{
  flex-direction: column;
}
.justify-flex-end{
  justify-content: flex-end;
}
.justify-between{
  justify-content: space-between;
}
.justify-center{
  justify-content: center;
}
.align-item-center{
  align-items:center;
}
.align-item-end{
  align-items: flex-end;
}
.flex-nowrap{
  flex-wrap: nowrap
}
.overflow-auto{
  overflow: auto;
}
.overflow-hidden{
  overflow: hidden;
}
.ant-card-flex-full{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  height: 100%;
  overflow: hidden;
}
.ant-card-flex-full .ant-card-head{
  flex:0 0;
}
.ant-card-flex-full .ant-card-body{
  flex:1 1 100%;
}

.table-container{
  padding: 5px;
}
.table-container p{
  padding: 0;
  margin: 0;
}

.table-container>div{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  border-bottom: 1px solid;
}
.table-container>div:nth-child(odd){
  background: #e9e9e9e9;
}
.table-container>div:first-child{
  border-top:1px solid;
}
.table-container>div>div{
  padding: 5px;
  flex:1 1 100%;
  border-right:1px solid;
}
.table-container>div>div:first-child{
  border-left:1px solid;
}


